/**
 * Timber - Ultimate Freelancer Platform
 *
 * @author      Clivern <support@clivern.com>
 * @copyright   2015 Clivern
 * @link        http://clivern.com
 */

.timber-current-skin #header {
    background: #fff;
}

.timber-current-skin #header .logo,
.timber-current-skin #header button.sidebar-toggle,
.timber-current-skin #header button#toggle-profile,
.timber-current-skin #header button#toggle-fullscreen,
.timber-current-skin #header .nav li.profile > a {
    color: #1d212a;
}

.timber-current-skin #header button.sidebar-toggle:hover,
.timber-current-skin #header button.sidebar-toggle:active,
.timber-current-skin #header button#toggle-profile:hover,
.timber-current-skin #header button#toggle-profile:active,
.timber-current-skin #header button#toggle-fullscreen:hover,
.timber-current-skin #header button#toggle-fullscreen:active {
    background: #f6f8f8;
}

.timber-current-skin #header .nav li.profile > a:hover,
.timber-current-skin #header .nav li.profile > a:active,
.timber-current-skin #header .nav li.profile > a:focus {
    background: #f6f8f8;
}

.timber-current-skin .sidebar-left {
    background-color: #1d212a;
}

.timber-current-skin .sidebar-mini .sidebar-left .nav > li.active > a:focus,
.timber-current-skin .sidebar-mini .sidebar-left .nav > li.active > a:hover,
.timber-current-skin .sidebar-left .nav > li.active > a,
.timber-current-skin .sidebar-left .nav > li.active > a:focus,
.timber-current-skin .sidebar-left .nav > li.active > a:hover {
    color: #fff;
    background-color: #27b6af;
}

.timber-current-skin .sidebar-left .nav > li.open > a,
.timber-current-skin .sidebar-left .nav > li > a:hover {
    color: #1d2939;
    background-color: #ffffff;
}

.timber-current-skin.sidebar-mini .sidebar-left .nav > li.nav-dropdown-open > .nav-sub,
.timber-current-skin.sidebar-mini .sidebar-left .nav > li:hover > .nav-sub {
    background-color: #1d212a;
}

.timber-current-skin.sidebar-mini .sidebar-left .nav > li.active > a,
.timber-current-skin.sidebar-mini .sidebar-left .nav > li.active > a:focus,
.timber-current-skin.sidebar-mini .sidebar-left .nav > li.active > a:hover,
.timber-current-skin .sidebar-left .nav > li.active > a,
.timber-current-skin .sidebar-left .nav > li.active > a:focus,
.timber-current-skin .sidebar-left .nav > li.active > a:hover {
    color: #fff;
    background-color: #27b6af;
}

.timber-current-skin.sidebar-mini .sidebar-left .nav > li.nav-dropdown-open > a,
.timber-current-skin.sidebar-mini .sidebar-left .nav > li:hover > a {
    color: #1d2939;
    background-color: #fff;
}